# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
logs/*
debug.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Build / Cache
dist/
build/
.cache/
